<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>IcyMat API Documentation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://secure.icymat.pl/cdn/icymat-design.css">
        <style type="text/css">
            .imd-container {
                margin-top: 76px;
            }

            .imd-notification {
                cursor: pointer;
            }

            .details {
                margin-bottom: 50px;
                padding-bottom: 50px;
                display: none;
            }
        </style>
    </head>
    <body class="imd-body">
        <nav id="preview-navigation" class="imd-nav imd-nav-top imd-nav-fixed imd-nav-light">
            <div class="imd-nav-container imd-bg-blue imd-text-white">
                <span class="imd-nav-brand">
                    <a href="#" class="imd-text-white">
                        {{ trans.title }}
                    </a>
                </span>

                <ul class="imd-nav-menu" style="float: right;">
                    {% for slug, section in documentation %}
                        <li>
                            <a href="#{{ slug }}" class="imd-text-white">{{ section.section.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        {% for slug, section in documentation %}
            <div class="imd-container" id="{{ slug }}">
                <div class="imd-row">
                    <div class="imd-col-xs">
                        <h1>{{ section.section.name }}</h1>
                    </div>
                </div>

                <div class="imd-row">
                    {% for method in section.methods %}
                        {% if method.methods[0] == 'POST' %}
                            {% set color = 'green' %}
                            {% set textColor = 'green' %}
                        {% elseif method.methods[0] == 'PUT' %}
                            {% set color = 'orange' %}
                            {% set textColor = 'orange' %}
                        {% elseif method.methods[0] == 'DELETE' %}
                            {% set color = 'red' %}
                            {% set textColor = 'red' %}
                        {% else %}
                            {% set color = 'blue' %}
                            {% set textColor = 'blue' %}
                        {% endif %}

                        <div class="imd-col-12">
                            <div class="imd-notification imd-bg-20-{{ color }} imd-text-{{ textColor }}">
                                <strong>{{ method.methods[0] }}</strong> {{ method.route }}
                            </div>

                            <div class="details">
                                {% if method.route_parameters|length > 0 %}
                                    <h2>{{ trans.route_parameters }}</h2>
                                    <div class="imd-table-responsive">
                                        <table class="imd-table imd-table-bordered imd-table-border-color-20-gray">
                                            <tr>
                                                <th>{{ trans.property.name }}</th>
                                                <th>{{ trans.property.type }}</th>
                                                <th>{{ trans.property.required }}</th>
                                                <th>{{ trans.property.description }}</th>
                                            </tr>
                                            {% for parameter in method.route_parameters %}
                                                <tr>
                                                    <td>{{ parameter.name }}</td>
                                                    <td>{{ parameter.type }}</td>
                                                    {% if parameter.required %}
                                                        <td class="imd-text-green">
                                                            ✔
                                                        </td>
                                                    {% else %}
                                                        <td class="imd-text-red">
                                                            ✗
                                                        </td>
                                                    {% endif %}
                                                    <td>{{ parameter.description }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}

                                <h2>{{ trans.description }}</h2>
                                <p>{{ method.description.description }}</p>

                                {% if method.parameters|length > 0 %}
                                    <h2>{{ trans.parameters }}</h2>
                                    <div class="imd-table-responsive">
                                        <table class="imd-table imd-table-bordered imd-table-border-color-20-gray">
                                            <tr>
                                                <th>{{ trans.property.name }}</th>
                                                <th>{{ trans.property.type }}</th>
                                                <th>{{ trans.property.nullable }}</th>
                                                <th>{{ trans.property.required }}</th>
                                                <th>{{ trans.property.description }}</th>
                                            </tr>
                                            {% for parameter in method.parameters %}
                                                <tr>
                                                    <td>{{ parameter.name }}</td>
                                                    <td>{{ parameter.type }}</td>
                                                    {% if parameter.nullable %}
                                                        <td class="imd-text-green">
                                                            ✔
                                                        </td>
                                                    {% else %}
                                                        <td class="imd-text-red">
                                                            ✗
                                                        </td>
                                                    {% endif %}
                                                    {% if parameter.required %}
                                                        <td class="imd-text-green">
                                                            ✔
                                                        </td>
                                                    {% else %}
                                                        <td class="imd-text-red">
                                                            ✗
                                                        </td>
                                                    {% endif %}
                                                    <td>{{ parameter.description }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}

                                {% if method.response|length > 0 %}
                                    <h2>{{ trans.responses }}</h2>
                                    {% for res in method.response %}
                                        <h3>{{ res.description }}</h3>
                                        <pre>{{ res.response|jsonFormatter }}</pre>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://secure.icymat.pl/cdn/icymat-design.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.imd-notification').click(function() {
                    $('.details.show').slideUp();
                    $(this).siblings('.details').addClass('show').slideDown();
                });
            });
        </script>
    </body>
</html>